.changeLearnedBtn{
  height: 9vh;
}
.final-swipe
{
  display: grid;
  justify-content: center;
  align-items: center;
}
.cardProgress{
  display: flex;
  justify-content: center;
  color: #b6c4d3;
  font-size: 1rem;
  font-weight: 800;
}
