<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>StackLearn</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">StackLearn</ion-title>
    </ion-toolbar>
  </ion-header>
  <swiper-container #swiper (slidechange)="onSlideChange($event)" [loop]="true">
    <swiper-slide *ngFor="let card of cards; let i = index" [id]="card.id">
      <app-card-learn [card]="card"></app-card-learn>
    </swiper-slide>
  </swiper-container>
</ion-content>
