.card-container {

  transition: transform 0.5s;
  transform-style: preserve-3d;
  height: 80vh;
  border: 1px solid red;
}

.card-container.flipped {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}
