<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-input type="text" fill="solid" label="Name" labelPlacement="floating" id="name" formControlName="name"></ion-input>

  <ion-label for="backgroundColor">Hintergrundfarbe</ion-label>
  <ion-input type="color" id="backgroundColor" formControlName="background_color"></ion-input>

  <ion-input type="color" fill="solid" label="Schriftfarbe" id="fontColor" formControlName="font_color"></ion-input>

  <ion-button type="submit" [disabled]="form.invalid">Speichern</ion-button>
</form>

<pre>
  <ion-card class="ion-padding"  [ngStyle]="{'background-color': form.value.background_color}">
    <ion-label class="ion-text-center" [ngStyle]="{'color': form.value.font_color}">{{form.value.name}}</ion-label>
  </ion-card>
</pre>
