<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-label for="name">Name</ion-label>
  <ion-input id="name" formControlName="name"></ion-input>

  <ion-label for="backgroundColor">Background</ion-label>
  <ion-input type="color" id="backgroundColor" formControlName="background_color"></ion-input>

  <ion-label for="fontColor">Font</ion-label>
  <ion-input type="color" id="fontColor" formControlName="font_color"></ion-input>

  <ion-button type="submit">Save</ion-button>
</form>

<pre>
  <ion-card class="ion-padding"  [ngStyle]="{'background-color': form.value.background_color}">
    <ion-label class="ion-text-center" [ngStyle]="{'color': form.value.font_color}">{{form.value.name}}</ion-label>
  </ion-card>
</pre>
