<ion-grid>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <ion-row>
      <ion-col class="ion-padding-top ion-padding-bottom">
        <ion-input type="text" label="Name" id="name" labelPlacement="floating" class="name" id="name" formControlName="name" (ionChange)="nameInputChange($event)"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" class="ion-padding-top ion-padding-bottom">
        <ion-label for="backgroundColor" class="input-label">Hintergrund</ion-label>
      </ion-col>
      <ion-col class="ion-padding-top ion-padding-bottom">
        <input type="color" id="backgroundColor" formControlName="background_color">
      </ion-col>
    </ion-row>


    <!-- <ion-label for="fontColor" position="floating">Schrift</ion-label> -->
    <!-- <input type="color" class="fontColor" formControlName="font_color"> -->


    <!-- <ion-input [(colorPicker)]="fontColor" (colorPickerSelect)="fontColorPickerSelect($event)" (colorPickerChange)="fontColorPicker($event)" [style.background]="fontColor" cpOutputFormat="hex" formControlName="font_color"></ion-input> -->
    <ion-row>
      <ion-col size="4" class="ion-padding-top ion-padding-bottom">
        <ion-label for="backgroundColor" class="input-label">Schrift</ion-label>
      </ion-col>
      <ion-col class="ion-padding-top ion-padding-bottom">
        <input type="color" id="fontColor" formControlName="font_color">
      </ion-col>
    </ion-row>
    <!-- <ion-input [(colorPicker)]="color" [style.background]="color" fill="solid" label="FontColor" labelPlacement="floating"  formControlName="font_color"></ion-input> -->
    <ion-row>
      <ion-col class="ion-padding-top ion-padding-bottom">
        <ion-button type="submit" [disabled]="form.invalid">Speichern</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-grid>
  <pre>
    <ion-card class="ion-padding"  [ngStyle]="{'background-color': form.value.background_color}">
      <ion-label class="ion-text-center" [ngStyle]="{'color': form.value.font_color}">{{form.value.name}}</ion-label>
    </ion-card>
  </pre>


