<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stack {{currentStack.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Stack</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-checkbox *ngIf="cards.length > 0" [(ngModel)]="toggleEditCheck" (ionChange)="toggleEditCard($event)" class="ion-padding">Edit</ion-checkbox>
  <ion-checkbox *ngIf="cards.length > 0" [(ngModel)]="toggleDeleteCheck" (ionChange)="toggleDeleteCard($event)" class="ion-padding">Delete</ion-checkbox>


  <ion-button class="ion-float-right" id="open-card-form-modal" (click)="formMode = 'create'"><ion-icon name="add"></ion-icon></ion-button>
  <ion-modal trigger="open-card-form-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="closeCardFormModal()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <app-card-create-form *ngIf="formMode == 'create'" (submitStack)="saveCard($event)"></app-card-create-form>
        <!--<app-card-update-form *ngIf="formMode == 'edit'" (submitCard)="updateCard($event)" [editCard]="editCard" [stacks$]="stacks$"></app-card-update-form>-->
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-list style="border-top: solid 1px lightgray;">
      <ion-grid *ngIf="cards.length > 0">
      <ion-row *ngFor="let card of cards; let i = index">
        <ion-col size="12" *ngIf="!toggleDeleteCheck && !toggleEditCheck">
          <ion-card class="ion-padding" style="font-size: 1.2rem;">
            <ion-label class="ion-text-center">{{card.front}}</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="11" *ngIf="toggleDeleteCheck || toggleEditCheck">
          <ion-card class="ion-padding"  style="font-size: 1.2rem;">
            <ion-label class="ion-text-center">{{card.front}}</ion-label>
          </ion-card>
        </ion-col>
        <ion-col size="1">
          <ion-button color="danger" *ngIf="toggleDeleteCheck" [id]="'present-alert-'+card.id" class="ion-float-right ion-padding stackDeleteButton">Delete</ion-button>
          <ion-alert *ngIf="toggleDeleteCheck" [trigger]="'present-alert-'+card.id" [header]="'Delete Card?'" [buttons]="deleteAlertButtons" (didDismiss)="setDeleteResult($event, card)"></ion-alert>
          <ion-button *ngIf="toggleEditCheck" (click)="openEditCardModal(card)" color="primary" class="ion-float-right ion-padding">Edit</ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-list>
</ion-content>
