<form [formGroup]="form" (ngSubmit)="submitForm()">
  <ion-input translate type="text" fill="solid" [label]="getTranslatedLanguage('form.front')" labelPlacement="floating" id="front" formControlName="front"></ion-input>
  <br>
  <ion-input type="text" fill="solid" [label]="getTranslatedLanguage('form.back')" labelPlacement="floating" id="back" formControlName="back"></ion-input>

  <!--<ion-label for="stacks">Stack</ion-label>
  <select formControlName="stack_id">
    <option *ngFor="let stack of stacks" [ngValue]="stack">
      {{ stack.name }}
    </option>
  </select>-->

  <ion-radio-group formControlName="learned">
    <ion-label translate>stack.learn</ion-label>
    <ion-radio value="0" aria-label="Custom checkbox that is checked"></ion-radio>
    <ion-label translate>stack.learned</ion-label>
    <ion-radio value="1" aria-label="Custom checkbox"></ion-radio>
  </ion-radio-group>

  <ion-button type="submit" [disabled]="form.invalid" translate>form.value_submit</ion-button>
</form>
